@font-face {
    font-family: Buscador;
    src: url(../font/Oswald-VariableFont_wght.ttf);
}

.box-buscador{
    width: 50%;
    height: 40px;
    border: #ebe480 3px solid;
    border-radius: 3px;
    display: flex;
    background: #ebe480;
}
.box-buscador input{
    padding-left: 20px;
    background: none;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-family: 'Buscador';
    font-size: large;
    color: #043c6e;
}
.box-buscador img{
    width: 40px;
}
.box-buscador input::-webkit-input-placeholder{color: #043c6e;}


#lista-buscador{
    left: 26.5%;
    margin-top: 20px;
    position: absolute;
    width: 46.5%;
    height: 300px;
    border: #ebe480 2px solid;
    background: #ebe480;
    display: none;
}


@media (max-width:700px)  {

.box-buscador{width: 100%;}

#lista-buscador{
    width: 87%;
    left: 6%;
    display: none;
}
}