@font-face {
    font-family: titulo;
    src: url(../font/get_schwifty.ttf);
}
*{padding:0; margin:0;}


.Cabecera{
    position: relative;
    background-color: #161630;
    font-family: 'titulo';
    color: #05b1cb;
    text-align: center;
    height: 80px;
}

.titulo-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:large;
}

.titulo{
    -webkit-text-stroke: 0.01px #aac76d;
}